<!DOCTYPE html>
<html>
<body>
  <div id="root"></div>
  <script>
    <%= compilation.assets[htmlWebpackPlugin.files.js[0].substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
  </script>
</body>
</html>
